---
import CapsGrok from '@components/CapsGrok/CapsGrok';
import MainLayout from '@layouts/Main/Main';
---

<MainLayout title="Главная" description="Описание" className="flex-1 flex flex-col justify-center">
  <section class="flex flex-col items-center justify-center px-5">
    <CapsGrok />
  </section>
</MainLayout>
