---
import Container from '@components/Container/Container';
---

<footer class="footer">
  <Container>
    <p class="footer__text">♥️ &copy; {new Date().getFullYear()} ♥️</p>
  </Container>
</footer>
